<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/appImage/shape.png"></ion-img>
  <div class="imageuser">
    <ion-img src="../../../assets/appImage/undraw_mobile_ux_o0e1 1.png"></ion-img>
  </div>
  <div class="text_item">
    <h3>Gets things done with TODO</h3>
  </div>
  <div class="text_label">
    <label>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum dictum tempus, interdum at dignissim metus.
       Ultricies sed nunc.
    </label>
  </div>
  <div class="getStarted">
    <button routerLink="/login"> Get Started</button>
  </div>
</ion-content>

<!-- <ion-content > -->
  <!-- <ion-img src="../../../assets/appImage/app logo.png" *ngIf="openPageLogo" class="zoom-in-zoom-out"></ion-img> -->
<!-- </ion-content> -->