

<ion-content [fullscreen]="true">
  <ion-img src="../../../assets/appImage/shape.png"></ion-img>
  
  <div class="text_item">
    <h3>Welcome Forgot Password ?</h3>
    <label>Don't worry! It happens. Please enter the address associated with your account.</label>
  </div>
  <div class="imageuser">
    <ion-img src="../../../assets/appImage/forgotpassword.jpg"></ion-img>
  </div>
  <div class="form_input">
    <ion-input id="custom-input" label="Enter Your Email" [(ngModel)]="emailId" labelPlacement="floating" [counter]="true"  maxlength="50"></ion-input>
</div>
  <div class="getStarted">
    <button  (click)="forgotPassword()">Submit</button>
  </div>
  <div class="signIn">
    <label>Already have an account ? <span routerLink="/login" >Sign In</span></label>
  </div>
</ion-content>
