  
  .addcustomer{
    text-align: center;
    // padding: 10px;
    button{
        height: 44px;
        width: 313px;
        border-radius: 0px;
        background: #50C2C9;
        color: white;
        font-weight: 600;
        font-size: 18px;
        line-height: 137.19%;
        border-radius: 12px;
    }
}