.button-logout{
    padding: 20px;
}

ion-icon {
    font-size: 27px;
  
  }
  
  .addcustomer{
      text-align: center;
      padding: 10px;
      button{
          height: 44px;
          width: 313px;
          border-radius: 0px;
          background: #50C2C9;
          color: white;
          font-weight: 600;
          font-size: 18px;
          line-height: 137.19%;
          border-radius: 12px;
      }
  }
  
  ion-card-header {
    padding: 15px;
  }
  
  .card_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .nameCard {
      ion-card-subtitle {
        font-size: 16px;
        text-transform: inherit;
        letter-spacing: 0.9px;
      }
    }
  
    .card_mobilno {
      ion-card-subtitle {
        font-size: 16px;
      }
    }
  }

  .searchButton{
    display: flex;
    align-items: center;  
    // padding: 10px;

    button{
      height: 39px;
    width: 88px;
    border-radius: 0px;
    background: #50C2C9;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    }
  }

  .header-item{
    background: #50C2C9;
    height: 50px;
    border-radius: 0 0 20px 20px;
    align-items: center;

    .orderlist{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    }
    span{
      font-size: 25px;
      color: white;
      font-family: inherit;
    }
  }
  ion-list{
    padding: 3% 0;
  }

//   ion-toolbar {
//     // --color: #50C2C9;
//     // --background: #f1f1f1;
// }
.card{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.patternDes{
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .table{
      width: 100%;
  }
}
.input-group{
  padding: 10px;
}

.height{
  height: 100vh;
 }
 

 .search{
 position: relative;
 box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   
 }

 .search input{

  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;


 }


 .search input:focus{

  box-shadow: none;
  border: 2px solid blue;


 }

 .search .fa-search{

  position: absolute;
  top: 20px;
  left: 16px;

 }

 .search button{

  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;

 }
 .ordercard{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background: white;
  margin: 1px;
  border-radius: 10px;
  padding: 1px;
  border: 1px solid #c1c1c1;
 }
  ::ng-deep .input-group>.form-control:focus{
    box-shadow: none;
 }
 .editData{
  background: #2dd36f;
  border-radius: 10px;
  margin-right: 3px;
 }
 .deleteData{
  background: red;
  border-radius: 10px;
 }