<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="button-logout">
    <ion-button expand="block" routerLink="" (click)="logout()">Logout</ion-button>
  </div>

  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" value="list">
      <ion-segment-button value="list">
        <ion-label>
          List
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="card">
        <ion-label>
          Card
        </ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-list
      class="animate__animated animate__slideInUp animate__fast"
      *ngIf="segment === 'list'"
    >
      <ion-item>
        <ion-label>Item 1</ion-label>
      </ion-item>
    </ion-list>
  
    <div
      class="animate__animated animate__slideInUp animate__fast"
      *ngIf="segment === 'card'"
    >
      <ion-card>
        <ion-card-content>
          <h2>Card1</h2>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
   -->

   <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Order List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- <ion-button expand="block" (click)="setOpenEdit(true)">Add Customer</ion-button> -->
    <div class="addcustomer">
      <button (click)="setOpenEdit(true)" id="present-alert">Add Order</button>
    </div>
    <ion-card *ngFor="let item of searchFilterData">
      <ion-card-header>
        <div class="card_item" (click)="setOpen(true , item)">
          <!-- <div class="card-name-mo"> -->
            <div class="nameCard">
              <ion-card-subtitle style="font-size: 14px;">{{item.firstName}} {{item.lastName}}</ion-card-subtitle>
            </div>
            <div class="card_mobilno">
              <ion-card-subtitle style="font-size: 14px;">1234567890</ion-card-subtitle>
            </div>
          <!-- </div> -->
          <!-- <div class="editData" (click)="setOpen(true , item)">
            <ion-icon name="create-outline"></ion-icon>
          </div> -->
        </div>
      </ion-card-header>
    </ion-card>
  </ion-content>
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Edit Customer</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpen(false , '')">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
                <!-- <ion-input id="custom-input" label="Enter Your First Name" labelPlacement="floating" [(ngModel)]="firstName"
                  [counter]="true" maxlength="20"></ion-input>
                <ion-input id="custom-input" label="Enter Your Last Name" labelPlacement="floating" [(ngModel)]="lastName"
                  [counter]="true" maxlength="20"></ion-input>
                <ion-input id="custom-input" label="Enter Your Mobil Number" labelPlacement="floating" [(ngModel)]="mobileNo"
                  [counter]="true" maxlength="20"></ion-input> -->
                  <div class="addcustomer">
                    <button (click)="confirm()" id="present-alert">Submit</button>
                  </div>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isModalOpenEdit">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Add Order</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="setOpenEdit(false)">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div class="searchButton">
              <ion-searchbar placeholder="Search Mobile Number" [(ngModel)]="searchbarData"></ion-searchbar>
              <button (click)="searchData()">Search</button>
            </div>
            <div class="iamge_input">
              <div class="image">
                <ion-img src="../../assets/appImage/jodi.png"></ion-img>
              </div>
              <div class="image">
                <ion-img src="../../assets/appImage/shirt.jpg"></ion-img>
              </div>
              <div class="input">
               <ion-input id="custom-input" label="Enter Your First Name" labelPlacement="floating"
                    [counter]="true" maxlength="20"></ion-input>
                  <ion-input id="custom-input" label="Enter Your Last Name" labelPlacement="floating" 
                    [counter]="true" maxlength="20"></ion-input>
                  <ion-input id="custom-input" label="Enter Your Mobil Number" labelPlacement="floating"
                    [counter]="true" maxlength="20"></ion-input> 
              </div>
            </div>
            
                <!-- <ion-input id="custom-input" label="Enter Your First Name" labelPlacement="floating" [(ngModel)]="firstName"
                  [counter]="true" maxlength="20"></ion-input>
                <ion-input id="custom-input" label="Enter Your Last Name" labelPlacement="floating" [(ngModel)]="lastName"
                  [counter]="true" maxlength="20"></ion-input>0
                <ion-input id="custom-input" label="Enter Your Mobil Number" labelPlacement="floating" [(ngModel)]="mobileNo"
                  [counter]="true" maxlength="20"></ion-input> -->
                  <div class="addcustomer">
                    <button  id="present-alert">Submit</button>
                  </div>
              </ion-content>
        </ng-template>
      </ion-modal>
  
      <!-- <div class="center-body" *ngIf="isLoader" >
        <div class="loader-circle-2"></div>
        </div>
   -->